@import "mixins";
@import "colors";
@import "fonts";

html,
body {
  font-family: "Saira", system-ui, sans-serif;
  background-color: $color-black;
  color: $color-white;
}
.dud {
  opacity: 0.4;
}

.typewriter {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.typewriter .text {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 3.5s steps(40, end) forwards;
}

.typewriter::after {
  content: "";
  display: inline-block;
  width: 0.1em;
  height: 1em;
  background-color: $color-white;
  animation: blink-caret 0.75s step-end infinite;
  margin-left: 2px;
  vertical-align: bottom;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.typewriter .text.completed {
  white-space: normal;
  width: auto;
}

.marquee-wrapper {
  width: 100%;
  overflow: hidden;
}

.big-marquee {
  font-size: 100px;
  white-space: nowrap;
  will-change: transform;
  cursor: pointer;

  &:hover {
    animation-play-state: paused;
    background: linear-gradient(to right, #a5efff, #eabfff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  @include respond(sm) {
    font-size: 50px;
  }

  @include respond(xs) {
    font-size: 40px;
  }
}

.marquee-track {
  display: inline-block;
  padding-left: 100%;
  animation: marquee-scroll 20s linear infinite;
}

/* Keyframes */
@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.img_marquee {
  width: 100%;
  overflow: hidden;
}

.img_marquee-track {
  display: flex;
  width: max-content;
  animation: img-marquee-scroll 20s linear infinite;
}

@keyframes img-marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.dotted-line {
  border: none;
  border-top: 1px dotted $color-white;
  width: 100%;
}
.technologies--gradient {
  color: $color-white;
  cursor: pointer;

  &:hover {
    background: linear-gradient(90deg, #a5efff, #eabfff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
