.btn-primary {
  background-image: url("/images/btn_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  &:hover {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.4s ease-in-out;
  }
}
