@font-face {
  font-family: "LibraBarcode128";
  src: url("/fonts/LibreBarcode128-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Saira";
  src: url("/fonts/Saira-Regular.ttf") format("truetype");
  //   font-weight: 400;
  font-style: normal;
  //   font-display: swap;
}
