.navbar_items {
  font-size: 0.7rem;
}

.navbar_item {
}

.navbar_item:hover,
.navbar_item:active {
}

.navbar_item:after,
.navbar_item:before {
  backface-visibility: hidden;
  border: 0.3px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.navbar_item:hover:after,
.navbar_item:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.navbar_item:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}
.mobile-menu .navbar_item::before,
.mobile-menu .navbar_item::after {
  display: none;
}
